@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&family=Vollkorn:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: "Vollkorn", serif;
    font-size: 14pt;
}

h1, h2, h3 {
    font-family: "Arima Madurai", serif;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#canvas-container {
    text-align: center;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-size: 20pt;
}

#header button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    padding: 0.1em 0.5em;
}

#diagram-and-arrows {
    display: flex;
    justify-content: space-between;
    min-width: 25em;
}

#diagram-name {
    font-weight: normal;
    text-align: center;
}

#explanation {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    display: flex;
}

#explanation-background {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}

#explanation-inner {
    box-shadow: 0em 0.5em 0.5em rgba(0, 0, 0, 0.5);
    max-width: 60em;
    margin: 1em auto;
    padding: 2em;
    box-sizing: border-box;
    overflow-y: scroll;
    z-index: 100;

    background-color: #eeeeee;
    color: #111;
}

#explanation h1 {
    text-align: center;
    font-size: 200%;
}

#explanation img {
    max-width: 10em;
    max-height: 10em;
    object-fit: contain;
}

.image-container {
    display: flex;
    justify-content: center;
}

#explanation .image-container.medium img {
    max-width: 20em;
    max-height: 20em;
}

#explanation .image-container.big img {
    max-width: 30em;
    max-height: 30em;
}

#explanation p,
#explanation h1,
#explanation h2,
#explanation h3 {
    margin: 1em 0;
}

#explanation ul,
#explanation ol {
    margin: 0.5em 0 1em 3em;
}

.hidden {
    display: none !important;
}

#loading-text {
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 0.5em;
}