* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#canvas-container {
    text-align: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.navigator {
    font-size: 20pt;
    border: none;
    background: none;
    cursor: pointer;
}

#diagram-name {
    font-size: 20pt;
    font-weight: normal;
    text-align: center;
}
